<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">


			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://agronomy.sdau.edu.cn/">山东农业大学农学院</a></li>
				<li><a href="https://sdau.edu.cn/">SDAU</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
				
			</ul>

		
	  </div>
	</div>
  </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
